</div>
<div class="pure-u-1-2 attribution" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" about="http://samlucidi.com/">
  <span property="dct:title">Design by Sam Lucidi</span> (<a rel="cc:attributionURL" property="cc:attributionName" href="http://www.samlucidi.com/">samlucidi.com</a>)
</div>
<div class="pure-u-1-2 attribution" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" about="http://subtlepatterns.com/">
  <span property="dct:title">Subtle Patterns</span> (<a rel="cc:attributionURL" property="cc:attributionName" href="http://subtlepatterns.com">Subtle Patterns</a>) / <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>
</div>
</body>
</html>
