<body>
<div class="pure-g container">
  <div class="translucent-background"></div>
  <div class="pure-u-1-5 padding-right-5">
    <div class="contact">
      <h1><a href="http://rsb.io">Ryan Scott Brown</a></h1>
      <p class="bio">
      Python/Go hacker, open-sourcerer, and DevOps automator.
      </p>
      <p class="bio">
      I work primarily with OpenStack, AWS, Python, and Go in the context of
      large distributed systems. High-scale systems and graceful failure
      handling are my favorite problem classes.
      </p>
      <p class="bio">
      B.S. Applied Networking and Systems Administration, minor in Software
      Engineering from Rochester Institute of Technology.
      </p>
      <div>
      <ul class="contact-methods undecorated">
        {{ range where .Data.Pages.ByWeight "Section" "presentations" | first 2 }}
        <li class="contact-method">
        <i class="icon-terminal"></i> <a href="{{ .Params.homepage }}">{{ .Params.name }} Talk</a>
        </li>
        {{ end }}
        <li class="contact-method">
        <i class="icon-terminal"></i> <a href="/presentations">All Talks</a>
        </li>
      </ul>
      </div>
      <div>
        <ul class="contact-methods undecorated">
          <li class="contact-method">
          <i class="icon-mail-alt"></i> <a href="mailto:i@rsb.io">Email</a>
          </li>
          <li class="contact-method">
          <i class="icon-fork"></i> <a href="https://www.github.com/ryansb">Github</a>
          </li>
          <li class="contact-method">
          <i class="icon-lightbulb"></i> <a href="/resume.pdf">Resume</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
