{{ partial "header.html" . }}
<div class="pure-u-3-5 faint-left-border">
  <div class="projects">
    <h1>All Talks <i class="icon-comment"></i></h1>
    <div>
      <h2>Tools</h2>
      <ul class="undecorated">
        {{ range .Site.Taxonomies.talks.tools }}
          {{ .Page.Render "li" }}
        {{ end }}
      </ul>
    </div>
    <div>
      <h2>Languages</h2>
      <ul class="undecorated">
        {{ range .Site.Taxonomies.talks.languages }}
          {{ .Page.Render "li" }}
        {{ end }}
      </ul>
    </div>
    <div>
      <h2>Other</h2>
      <ul class="undecorated">
        {{ range .Site.Taxonomies.talks.other }}
          {{ .Page.Render "li" }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
